OManipSrc/Library/
*.db
OManipSrc/obj/
*.apk
OManipSrc/UnityVS.OManipSrc.sln
OManipSrc/UnityVS.OManipSrc.userprefs
OManipSrc/UnityVS.OManipSrc.v12.suo
OManipSrc/UnityVS.OManipSrc.CSharp.Editor.csproj
OManipSrc/UnityVS.OManipSrc.CSharp.Plugins.csproj
OManipSrc/UnityVS.OManipSrc.CSharp.csproj
*.sln
OManipSrc/Assets/UnityVS.meta
