OManipSrc/Library/
*.db
OManipSrc/obj/
*.apk
OManipSrc/UnityVS.src.sln
OManipSrc/UnityVS.src.userprefs
OManipSrc/UnityVS.src.v12.suo
OManipSrc/UnityVS.src.CSharp.Editor.csproj
OManipSrc/UnityVS.src.CSharp.Plugins.csproj
OManipSrc/UnityVS.src.CSharp.csproj
*.sln
OManipSrc/Assets/UnityVS.meta
